<div class="row templates">

  <div class="col-md-4">
    <h3>Blue Template</h3>
    <img class="templates-img center-block" src="img/blue.jpg" alt="blue template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

  <div class="col-md-4">
    <h3>Red Template</h3>
    <img class="templates-img center-block" src="img/red.jpg" alt="red template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

  <div class="col-md-4">
    <h3>Green Template</h3>
    <img class="templates-img center-block" src="img/green.jpg" alt="green template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

  <div class="col-md-4">
    <h3>Orange Template</h3>
    <img class="templates-img center-block" src="img/orange.jpg" alt="orange template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

  <div class="col-md-4">
    <h3>Gray Template</h3>
    <img class="templates-img center-block" src="img/gray.jpg" alt="gray template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

  <div class="col-md-4">
    <h3>Purple Template</h3>
    <img class="templates-img center-block" src="img/purple.jpg" alt="purple template">
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>

</div>